.hero-container .hero-wrapper {
  max-width: 1200px;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
    max-width: 40%;
    margin-left: 2%;
    padding: 10px;
    margin-right: auto;
    color: var(--background-color);
    background-color: rgba(204, 66, 1, 0.2);
}    

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
